@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&family=Roboto+Flex:opsz,wght@8..144,500;8..144,600;8..144,700&family=Roboto+Mono:wght@700&family=Roboto:wght@400;500&display=swap"); /* =====NORMALIZE STYLE===== */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

[class*=__container] {
  max-width: 1158px;
  margin: 0px auto;
  padding: 0px 15px;
  /* PC */
  /* TABLET */
  /* MOBILE */
  /* MOBILE */
}
@media (max-width: 1087px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}
@media (max-width: 479.98px) {
  [class*=__container] {
    max-width: none;
  }
}

body {
  background-color: #E5E5E5;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.header__container {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header__container {
    justify-content: center;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__links {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 767.98px) {
  .header__links {
    display: none;
  }
}
.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 108px;
  height: 32px;
  transition: 0.4s;
}
.logo:hover {
  cursor: pointer;
  opacity: 0.75;
}
.logo__image {
  max-width: 100%;
  max-height: 100%;
}

.applestore {
  width: 179px;
  height: 64px;
  background-color: #6A6A6A;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  transition: 0.4s;
}
.applestore:hover {
  opacity: 0.7;
  cursor: pointer;
}
.applestore_small {
  width: 80px;
  height: 40px;
  background: #6A6A6A;
  border-radius: 24px;
}
.applestore_small .applestore__body {
  display: none;
}
.applestore__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2px;
}
.applestore__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.applestore__install {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 550;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
.applestore__name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.googleplay {
  width: 179px;
  height: 64px;
  background: #6A6A6A;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  transition: 0.4s;
}
.googleplay:hover {
  opacity: 0.7;
  cursor: pointer;
}
.googleplay_small {
  width: 80px;
  height: 40px;
  background: #6A6A6A;
  border-radius: 24px;
}
.googleplay_small .googleplay__body {
  display: none;
}
.googleplay__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2px;
}
.googleplay__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.googleplay__install {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 550;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
.googleplay__name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  background: url("./../img/about-block/background.png") no-repeat 80% top;
  background-size: contain;
}
@media (max-width: 479.98px) {
  .about {
    background-size: 55%;
    background-position: left;
  }
}
.about__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 479.98px) {
  .about__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}
.about__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 142px;
}
@media (max-width: 479.98px) {
  .about__text {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
}
.about__title {
  max-width: 541px;
  max-height: 132px;
}
@media (max-width: 479.98px) {
  .about__title {
    width: 327px;
    text-align: center;
  }
}
.about__links {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 61px;
}
@media (max-width: 479.98px) {
  .about__links {
    margin: 0;
    position: absolute;
    top: 75%;
  }
}
@media (max-width: 479.98px) {
  .about__phoneimg {
    display: flex;
    width: 100%;
    justify-content: end;
    height: 313px;
    padding-right: 60px;
  }
}
.about__image {
  max-width: 100%;
  max-height: 100%;
}
.about__nextbtn {
  position: relative;
  top: 17%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: calc(16px + 24 * ((100vw - 320px) / 838));
  line-height: 44px;
  letter-spacing: -0.5px;
  color: #090909;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
@media (max-width: 479.98px) {
  .title {
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 750;
    line-height: 20px;
    text-align: center;
    color: #090909;
    font-stretch: 151;
    font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  }
}

.btnnext {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #090909;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.arrow {
  display: block;
  width: 24px;
  height: 24px;
  background: url("./../img/arrow.svg") no-repeat center center;
  padding-right: 5px;
}

@media (max-width: 479.98px) {
  .how-work__title {
    text-align: left;
  }
}
.how-work__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-top: 48px;
}
@media (max-width: 992.98px) {
  .how-work__cards {
    margin-right: 45px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .how-work__cards::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 479.98px) {
  .how-work__cards {
    margin-right: 50px;
  }
}
.how-work__nextbtn {
  position: relative;
  top: 14%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card-how {
  width: 312px;
  height: 432px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card-how:nth-child(1) {
  background: #5337FF;
}
.card-how:nth-child(2) {
  background: #56ABFF;
}
.card-how:nth-child(3) {
  background: #883FFF;
}
.card-how__body {
  padding: 24px 24px 0px 24px;
}
.card-how__number {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
.card-how__description {
  margin-top: 16px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
.card-how__example {
  margin-bottom: 15px;
}
.card-how__image {
  margin-top: 24px;
  width: 258px;
  height: 261px;
  max-height: 248px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.card-how__img {
  width: 100%;
  height: 100%;
}

@media (max-width: 479.98px) {
  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    gap: 1px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}
.card-house {
  width: 456px;
  height: 288px;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  background: url("./../img/how-block/house.png") no-repeat center bottom;
  background-color: #090909;
}
@media (max-width: 479.98px) {
  .card-house {
    width: 270px;
    height: 196px;
  }
}
.card-house_small {
  width: 312px;
  height: 196px;
}
.card-house__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-house__name {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
.card-house__project {
  width: 149px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: 14px;
  line-height: 20px;
  color: #090909;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.slider-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.slider-button.slider-button_prev {
  background: url("./../img/build-block/prev-btn.svg") no-repeat center center;
  background-color: #FFFFFF;
}
.slider-button.slider-button_next {
  background: url("./../img/build-block/next-btn.svg") no-repeat center center;
  background-color: #FFFFFF;
}

@media (max-width: 479.98px) {
  .trand__container {
    padding-right: 65px;
  }
}
.trand__title {
  text-align: left;
}
.trand__housecards {
  margin-top: 56px;
  display: flex;
  gap: 1px;
  justify-content: space-between;
  align-items: center;
}
.trand__housecard:nth-child(n) {
  background: url("./../img/trand-block/house-1.png") no-repeat center bottom;
  background-color: #090909;
}
.trand__housecard:nth-child(2n) {
  background: url("./../img/trand-block/house-2.png") no-repeat center bottom;
  background-color: #5437FF;
}
.trand__housecard:nth-child(3n) {
  background: url("./../img/trand-block/house-3.png") no-repeat center bottom;
  background-color: #FF6700;
}
.trand__housecard:nth-child(4n) {
  background: url("./../img/trand-block/house-4.png") no-repeat center bottom;
  background-color: #883FFF;
}
.trand__buttons {
  margin-top: 32px;
  display: flex;
  justify-content: end;
  gap: 12px;
}
.trand__nextbtn {
  position: relative;
  top: 17%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.rating__cards {
  margin-top: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
@media (max-width: 479.98px) {
  .rating__cards {
    gap: 5px;
  }
}
@media (max-width: 479.98px) {
  .rating__card:nth-child(n+2) {
    display: none;
  }
}
.rating__nextbtn {
  position: relative;
  top: 22%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992.98px) {
  .rating__nextbtn {
    top: 17%;
  }
}

.card-rating {
  width: 167px;
  height: 257px;
  background: #FFFFFF;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-rating:nth-child(n) .card-rating__logo {
  background-color: #E0E0E0;
}
.card-rating:nth-child(2n) .card-rating__logo {
  background-color: #EFB178;
}
.card-rating:nth-child(3n) .card-rating__logo {
  background-color: #C50002;
}
.card-rating__rating {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
.card-rating__stars {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
}
.card-rating__number {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: 12px;
  line-height: 125%;
  color: #090909;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
.card-rating__body {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 8px;
}
.card-rating__logo {
  width: 80px;
  height: 80px;
  border: 2.76786px solid #FFFFFF;
  border-radius: 193.75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-rating__name {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: 14px;
  line-height: 130%;
  color: #090909;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.genius__card {
  width: 552px;
  height: 312px;
  border-radius: 28px;
  background: url("./../img/genius-block/genius.png") no-repeat right top;
  background-color: #000000;
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 479.98px) {
  .genius__card {
    background-size: 75%;
    width: 299px;
    height: 168px;
  }
}
.genius__card-title {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: calc(14px + 10 * ((100vw - 320px) / 838));
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
@media (max-width: 479.98px) {
  .genius__card-title {
    line-height: 20px;
  }
}
.genius__description {
  width: 277px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: calc(16px + 16 * ((100vw - 320px) / 838));
  line-height: 36px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
@media (max-width: 479.98px) {
  .genius__description {
    line-height: 20px;
  }
}
.genius__title {
  margin-top: 56px;
}
@media (max-width: 479.98px) {
  .genius__title {
    text-align: left;
  }
}
.genius__nextbtn {
  position: relative;
  top: 21%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992.98px) {
  .genius__nextbtn {
    top: 15%;
  }
}

.club__badge {
  width: 109px;
  height: 32px;
  background: #883FFF;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
.club__title {
  margin-top: 24px;
}
@media (max-width: 479.98px) {
  .club__title {
    text-align: left;
  }
}
.club__card {
  margin-top: 84px;
  margin-left: auto;
  width: 552px;
  height: 288px;
  background: #5337FF;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 992.98px) {
  .club__card {
    margin-left: 0;
  }
}
@media (max-width: 479.98px) {
  .club__card {
    margin-top: 45px;
    width: 299px;
    height: 200px;
    margin-left: 0;
  }
}
.club__card-lines {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 479.98px) {
  .club__card-lines {
    gap: 5px;
  }
}
.club__card-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.club__name {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 550;
  font-size: calc(14px + 6 * ((100vw - 320px) / 838));
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
@media (max-width: 479.98px) {
  .club__name {
    line-height: 20px;
  }
}
.club__number {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 550;
  font-size: calc(14px + 6 * ((100vw - 320px) / 838));
  line-height: 28px;
  color: #FFB6B6;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
@media (max-width: 479.98px) {
  .club__number {
    line-height: 20px;
  }
}
.club__card-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.club__result-name {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: calc(14px + 6 * ((100vw - 320px) / 838));
  line-height: 28px;
  color: #FFFFFF;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
@media (max-width: 479.98px) {
  .club__result-name {
    line-height: 20px;
  }
}
.club__result-number {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: calc(14px + 6 * ((100vw - 320px) / 838));
  line-height: 28px;
  color: #4FEA90;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
@media (max-width: 479.98px) {
  .club__result-number {
    line-height: 20px;
  }
}
.club__nextbtn {
  position: relative;
  top: 17%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992.98px) {
  .club__nextbtn {
    top: 15%;
  }
}

@media (max-width: 992.98px) {
  .build__container {
    margin-top: 100px;
  }
}
@media (max-width: 479.98px) {
  .build__container {
    margin-top: 60px;
  }
}
.build__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992.98px) {
  .build__body {
    flex-direction: column-reverse;
  }
}
@media (max-width: 479.98px) {
  .build__body {
    gap: 60px;
  }
}
.build__about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 32px;
}
.build__text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
}
.build__title {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: calc(16px + 16 * ((100vw - 320px) / 838));
  line-height: 36px;
  letter-spacing: -0.5px;
  color: #090909;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
@media (max-width: 479.98px) {
  .build__title {
    line-height: 20px;
  }
}
.build__description {
  width: 456px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: calc(16px + 16 * ((100vw - 320px) / 838));
  line-height: 36px;
  letter-spacing: -0.5px;
  color: #6A6A6A;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
@media (max-width: 479.98px) {
  .build__description {
    line-height: 20px;
    width: 326px;
  }
}
.build__buttons {
  position: absolute;
  top: 62%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}
@media (max-width: 992.98px) {
  .build__buttons {
    position: relative;
    top: -350px;
  }
}
@media (max-width: 479.98px) {
  .build__buttons {
    position: relative;
    top: 50px;
  }
}
.build__nextbtn {
  margin-top: 150px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992.98px) {
  .build__nextbtn {
    margin-top: 10px;
  }
}
@media (max-width: 479.98px) {
  .build__nextbtn {
    margin-top: 150px;
  }
}
@media (max-width: 992.98px) {
  .build__prev {
    position: absolute;
    left: 10%;
  }
}
@media (max-width: 479.98px) {
  .build__prev {
    position: absolute;
    left: 10%;
  }
}
@media (max-width: 992.98px) {
  .build__next {
    position: absolute;
    right: 10%;
  }
}
@media (max-width: 479.98px) {
  .build__next {
    position: absolute;
    right: 10%;
  }
}
.build__image {
  width: 312px;
  height: 631px;
}
@media (max-width: 992.98px) {
  .build__image {
    width: 220px;
    height: 444px;
  }
}
@media (max-width: 479.98px) {
  .build__image {
    width: 176px;
    height: 308px;
  }
}
@media (max-width: 992.98px) {
  .build__img {
    min-width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 479.98px) {
  .build__img {
    min-width: 100%;
    max-width: 100%;
  }
}

.install__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.install__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.install__title {
  width: 480px;
  text-align: center;
}
@media (max-width: 479.98px) {
  .install__title {
    width: 327px;
  }
}
.install__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.fp-tooltip {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: 10px;
  line-height: 12px;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

#fp-nav ul li .fp-tooltip {
  color: #5337FF;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #6A6A6A;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
  background: #5337FF;
}