@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&family=Roboto+Flex:opsz,wght@8..144,500;8..144,600;8..144,700&family=Roboto+Mono:wght@700&family=Roboto:wght@400;500&display=swap"); /* =====NORMALIZE STYLE===== */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

[class*=__container] {
  max-width: 1158px;
  margin: 0px auto;
  padding: 0px 15px;
  /* PC */
  /* TABLET */
  /* MOBILE */
  /* MOBILE */
}
@media (max-width: 1087px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}
@media (max-width: 479.98px) {
  [class*=__container] {
    max-width: none;
  }
}

body {
  background-color: #E5E5E5;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.header__container {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__links {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 108px;
  height: 32px;
  transition: 0.4s;
}
.logo:hover {
  cursor: pointer;
  opacity: 0.75;
}
.logo__image {
  max-width: 100%;
  max-height: 100%;
}

.applestore {
  width: 179px;
  height: 64px;
  background-color: #6A6A6A;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  transition: 0.4s;
}
.applestore:hover {
  opacity: 0.7;
  cursor: pointer;
}
.applestore_small {
  width: 80px;
  height: 40px;
  background: #6A6A6A;
  border-radius: 24px;
}
.applestore_small .applestore__body {
  display: none;
}
.applestore__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2px;
}
.applestore__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.applestore__install {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 550;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
.applestore__name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.googleplay {
  width: 179px;
  height: 64px;
  background: #6A6A6A;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  transition: 0.4s;
}
.googleplay:hover {
  opacity: 0.7;
  cursor: pointer;
}
.googleplay_small {
  width: 80px;
  height: 40px;
  background: #6A6A6A;
  border-radius: 24px;
}
.googleplay_small .googleplay__body {
  display: none;
}
.googleplay__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2px;
}
.googleplay__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.googleplay__install {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 550;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
.googleplay__name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  background: url("./../img/about-block/background.png") no-repeat 50% top;
  background-size: contain;
}
.about__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.about__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 142px;
}
.about__title {
  max-width: 541px;
  max-height: 132px;
}
.about__links {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 61px;
}
.about__image {
  margin-left: 227px;
}
.about__nextbtn {
  position: relative;
  left: 45%;
  top: 17%;
}

.title {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.5px;
  color: #090909;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.btnnext {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #090909;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-right: 8px;
}

.how-work__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}
.how-work__nextbtn {
  position: relative;
  left: 45%;
  top: 17%;
}

.card-how {
  width: 312px;
  height: 432px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card-how:nth-child(1) {
  background: #5337FF;
}
.card-how:nth-child(2) {
  background: #56ABFF;
}
.card-how:nth-child(3) {
  background: #883FFF;
}
.card-how__body {
  padding: 24px 24px 0px 24px;
}
.card-how__number {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
.card-how__description {
  margin-top: 16px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
.card-how__example {
  margin-bottom: 15px;
}
.card-how__image {
  margin-top: 24px;
  width: 258px;
  height: 261px;
  max-height: 248px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.card-how__img {
  width: 100%;
  height: 100%;
}

.card-house {
  width: 456px;
  height: 288px;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  background: url("./../img/how-block/house.png") no-repeat center bottom;
  background-color: #090909;
}
.card-house_small {
  width: 312px;
  height: 196px;
}
.card-house__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-house__name {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
.card-house__project {
  width: 149px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 750;
  font-size: 14px;
  line-height: 20px;
  color: #090909;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 499, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.slider-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.slider-button.slider-button_prev {
  background: url("./../img/build-block/prev-btn.svg") no-repeat center center;
  background-color: #FFFFFF;
}
.slider-button.slider-button_next {
  background: url("./../img/build-block/next-btn.svg") no-repeat center center;
  background-color: #FFFFFF;
}

.trand__housecards {
  margin-top: 56px;
  display: flex;
  gap: 1px;
  justify-content: space-between;
  align-items: center;
}
.trand__housecard:nth-child(n) {
  background: url("./../img/trand-block/house-1.png") no-repeat center bottom;
  background-color: #090909;
}
.trand__housecard:nth-child(2n) {
  background: url("./../img/trand-block/house-2.png") no-repeat center bottom;
  background-color: #5437FF;
}
.trand__housecard:nth-child(3n) {
  background: url("./../img/trand-block/house-3.png") no-repeat center bottom;
  background-color: #FF6700;
}
.trand__housecard:nth-child(4n) {
  background: url("./../img/trand-block/house-4.png") no-repeat center bottom;
  background-color: #883FFF;
}
.trand__buttons {
  margin-top: 32px;
  display: flex;
  justify-content: end;
  gap: 12px;
}
.trand__nextbtn {
  position: relative;
  left: 45%;
  top: 17%;
}