@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&family=Roboto+Flex:opsz,wght@8..144,500;8..144,600;8..144,700&family=Roboto+Mono:wght@700&family=Roboto:wght@400;500&display=swap');
@import 'nullstyle';

$maxWidth: 1158;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

[class*="__container"] {
    max-width: 1158px; // Ширина контейнера в макете + 15px * 2 из padding
    margin: 0px auto;
    padding: 0px 15px; // Отступы безопасности для адаптива
    
    // Брейпоинты для адаптива
    /* PC */
    @media (max-width: 1087px) {
        max-width: 970px;
    }
    /* TABLET */
    @media (max-width: 992.98px) {
        max-width: 750px;
    }
    /* MOBILE */
    @media (max-width: 767.98px) {
        max-width: none;
    }
    /* MOBILE */
    @media (max-width: 479.98px) {
        max-width: none;
    }
}
body {
    background-color: #E5E5E5;
}
.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}
.header {
    position: fixed;
    width: 100%;
    z-index: 9999;

    &__container {
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.logo {
    width: 108px;
    height: 32px;
    transition: 0.4s;
    &:hover {
        cursor: pointer;
        opacity: 0.75;
    }
    &__image {
        max-width: 100%;
        max-height: 100%;
    }
}
.applestore {
    width: 179px;
    height: 64px;
    background-color: #6A6A6A;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    transition: 0.4s;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    &_small {
        width: 80px;
        height: 40px;
        background: #6A6A6A;
        border-radius: 24px;

        & .applestore__body {
            display: none;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 2px;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__install {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 2px;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 550;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.25px;
        color: #FFFFFF;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    &__name {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.googleplay {
    width: 179px;
    height: 64px;
    background: #6A6A6A;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    transition: 0.4s;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    &_small {
        width: 80px;
        height: 40px;
        background: #6A6A6A;
        border-radius: 24px;

        & .googleplay__body {
            display: none;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 2px;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__install {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 2px;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 550;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.25px;
        color: #FFFFFF;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    &__name {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.main {
}
.section {
}
.about {
    background: url('./../img/about-block/background.png') no-repeat 50% top;
    background-size: contain;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: start;

    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-top: 142px;
    }

    &__title {
        max-width: 541px;
        max-height: 132px;
        // margin-top: 87px;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 61px;
    }

    &__link {
    }

    &__phoneimg {
    }

    &__image {
        margin-left: 227px;
    }

    &__nextbtn {
        position: relative;
        left: 45%;
        top: 17%;
    }
}
.title {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 750;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.5px;
    color: #090909;
    font-stretch: 151;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.btnnext {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #090909;
    font-stretch: 151;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-right: 8px;
}
.how-work {

    &__container {
    }

    &__title {
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // gap: 24px;
        margin-top: 48px;
    }

    &__card {
    }

    &__nextbtn {
        position: relative;
        left: 45%;
        top: 17%;
    }
}
.card-how {
    width: 312px;
    height: 432px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &:nth-child(1){
        background: #5337FF;
    }

    &:nth-child(2){
        background: #56ABFF;
    }

    &:nth-child(3){
        background: #883FFF;
    }

    &__body {
        padding: 24px 24px 0px 24px;
    }

    &__number {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.5px;
        color: #FFFFFF;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    &__description {
        margin-top: 16px;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    &__example {
        margin-bottom: 15px;
    }

    &__image {
        margin-top: 24px;
        width: 258px;
        height: 261px;
        max-height: 248px;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}
.card-house {
    width: 456px;
    height: 288px;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    background: url('./../img/how-block/house.png') no-repeat center bottom;
    background-color: #090909;

    &_small {
        width: 312px;
        height: 196px;
    }

    &__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    &__project {
        width: 149px;
        height: 32px;
        background: #FFFFFF;
        border-radius: 8px;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        font-size: 14px;
        line-height: 20px;
        color: #090909;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
    }
}
.slider-button {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    &.slider-button_prev {
        background: url("./../img/build-block/prev-btn.svg") no-repeat center center;
        background-color: #FFFFFF;
    }

    &.slider-button_next {
        background: url("./../img/build-block/next-btn.svg") no-repeat center center;
        background-color: #FFFFFF;
    }
}
.trand {

    &__container {
    }

    &__title {
    }

    &__housecards {
        margin-top: 56px;
        display: flex;
        gap: 1px;
        justify-content: space-between;
        align-items: center;
    }

    &__housecard {
        &:nth-child(n){
            background: url('./../img/trand-block/house-1.png') no-repeat center bottom;
            background-color: #090909;
        }

        &:nth-child(2n){
            background: url('./../img/trand-block/house-2.png') no-repeat center bottom;
            background-color: #5437FF;
        }

        &:nth-child(3n){
            background: url('./../img/trand-block/house-3.png') no-repeat center bottom;
            background-color: #FF6700;
        }
        &:nth-child(4n){
            background: url('./../img/trand-block/house-4.png') no-repeat center bottom;
            background-color: #883FFF;
        }
    }

    &__buttons {
        margin-top: 32px;
        display: flex;
        justify-content: end;
        gap: 12px;
    }

    &__nextbtn {
        position: relative;
        left: 45%;
        top: 17%;
    }
}
.rating {

    &__container {
    }

    &__title {
    }

    &__card {
    }

    &__nextbtn {
    }
}
.ratings {

    &__cards {
    }
}
.card-rating {

    &__rating {
    }

    &__stars {
    }

    &__star {
    }

    &__number {
    }

    &__logo {
    }

    &__image {
    }

    &__name {
    }
}
.genius {

    &__container {
    }

    &__card {
    }

    &__card-title {
    }

    &__description {
    }

    &__title {
    }

    &__nextbtn {
    }
}
.club {

    &__container {
    }

    &__badge {
    }

    &__title {
    }

    &__card {
    }

    &__card-line {
    }

    &__name {
    }

    &__number {
    }

    &__nextbtn {
    }
}
.build {

    &__container {
    }

    &__about {
    }

    &__texts {
    }

    &__text {
    }

    &__title {
    }

    &__description {
    }

    &__buttons {
    }

    &__prevbtn {
    }

    &__btnimg {
    }

    &__nextbtn {
    }

    &__images {
    }

    &__image {
    }

    &__img {
    }
}
.install {

    &__container {
    }

    &__about {
    }

    &__title {
    }

    &__links {
    }

    &__apple {
    }

    &__images {
    }
}