@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&family=Roboto+Flex:opsz,wght@8..144,500;8..144,600;8..144,700&family=Roboto+Mono:wght@700&family=Roboto:wght@400;500&display=swap');
@import 'nullstyle';

$maxWidth: 1158;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

[class*="__container"] {
    max-width: 1158px; // Ширина контейнера в макете + 15px * 2 из padding
    margin: 0px auto;
    padding: 0px 15px; // Отступы безопасности для адаптива
    
    // Брейпоинты для адаптива
    /* PC */
    @media (max-width: 1087px) {
        max-width: 970px;
    }
    /* TABLET */
    @media (max-width: 992.98px) {
        max-width: 750px;
    }
    /* MOBILE */
    @media (max-width: 767.98px) {
        max-width: none;
    }
    /* MOBILE */
    @media (max-width: 479.98px) {
        max-width: none;
    }
}
body {
    background-color: #E5E5E5;
}
.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}
.header {
    position: fixed;
    width: 100%;
    z-index: 9999;

    &__container {
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 767.98px) {
            justify-content: center;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 8px;
        @media (max-width: 767.98px) {
            display: none;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.logo {
    width: 108px;
    height: 32px;
    transition: 0.4s;
    &:hover {
        cursor: pointer;
        opacity: 0.75;
    }
    &__image {
        max-width: 100%;
        max-height: 100%;
    }
}
.applestore {
    width: 179px;
    height: 64px;
    background-color: #6A6A6A;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    transition: 0.4s;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    &_small {
        width: 80px;
        height: 40px;
        background: #6A6A6A;
        border-radius: 24px;

        & .applestore__body {
            display: none;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 2px;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__install {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 2px;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 550;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.25px;
        color: #FFFFFF;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    &__name {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.googleplay {
    width: 179px;
    height: 64px;
    background: #6A6A6A;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    transition: 0.4s;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    &_small {
        width: 80px;
        height: 40px;
        background: #6A6A6A;
        border-radius: 24px;

        & .googleplay__body {
            display: none;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 2px;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__install {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 2px;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 550;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.25px;
        color: #FFFFFF;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    &__name {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.main {
}
.section {
}
.about {
    background: url('./../img/about-block/background.png') no-repeat 80% top;
    background-size: contain;

    @media (max-width: 479.98px) {
        background-size: 55%;
        background-position: left;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: start;
        @media (max-width: 479.98px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-top: 142px;
        @media (max-width: 479.98px) {
            // padding-bottom: 600px;
            padding: 0;
            justify-content: center;
            align-items: center;
        }
    }

    &__title {
        max-width: 541px;
        max-height: 132px;
        // margin-top: 87px;
        @media (max-width: 479.98px) {
            width: 327px;
            text-align: center;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 61px;

        @media (max-width: 479.98px) {
            margin: 0;
            position: absolute;
            top: 75%;
        }
    }

    &__link {
    }

    &__phoneimg {
        @media (max-width: 479.98px) {
            display: flex;
            width: 100%;
            justify-content: end;
            height: 313px;
            padding-right: 60px;
        }
    }

    &__image {
        max-width: 100%;
        max-height: 100%;
    }

    &__nextbtn {
        position: relative;
        top: 17%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
.title {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 750;
    // font-size: 40px;
    @include adaptiv-font(40, 16);
    line-height: 44px;
    letter-spacing: -0.5px;
    color: #090909;
    font-stretch: 151;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;

    @media (max-width: 479.98px) {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        // font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #090909;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }
}
.btnnext {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #090909;
    font-stretch: 151;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.arrow {
    display: block;
    width: 24px;
    height: 24px;
    background: url('./../img/arrow.svg') no-repeat center center;
    padding-right: 5px;
}
.how-work {

    &__container {
    }

    &__title {
        @media (max-width: 479.98px) {
            text-align: left;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        margin-top: 48px;
        @media (max-width: 992.98px) {
            margin-right: 45px;
            overflow-x: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }

        @media (max-width: 479.98px) {
            margin-right: 50px;
        }
    }

    &__card {
    }

    &__nextbtn {
        position: relative;
        top: 14%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
.card-how {
    width: 312px;
    height: 432px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &:nth-child(1){
        background: #5337FF;
    }

    &:nth-child(2){
        background: #56ABFF;
    }

    &:nth-child(3){
        background: #883FFF;
    }

    &__body {
        padding: 24px 24px 0px 24px;
    }

    &__number {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.5px;
        color: #FFFFFF;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    &__description {
        margin-top: 16px;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    &__example {
        margin-bottom: 15px;
    }

    &__image {
        margin-top: 24px;
        width: 258px;
        height: 261px;
        max-height: 248px;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 479.98px) {
    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
      gap: 1px;
      user-select: none;
    }
  }
.card-house {
    width: 456px;
    height: 288px;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    background: url('./../img/how-block/house.png') no-repeat center bottom;
    background-color: #090909;

    @media (max-width: 479.98px) {
        width: 270px;
        height: 196px;
    }

    &_small {
        width: 312px;
        height: 196px;
    }

    &__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    &__project {
        width: 149px;
        height: 32px;
        background: #FFFFFF;
        border-radius: 8px;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        font-size: 14px;
        line-height: 20px;
        color: #090909;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
    }
}
.slider-button {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    &.slider-button_prev {
        background: url("./../img/build-block/prev-btn.svg") no-repeat center center;
        background-color: #FFFFFF;
    }

    &.slider-button_next {
        background: url("./../img/build-block/next-btn.svg") no-repeat center center;
        background-color: #FFFFFF;
    }
}
.trand {

    &__container {
        @media (max-width: 479.98px) {
            padding-right: 65px;
        }
    }

    &__title {
        text-align: left;
    }

    &__housecards {
        // width: 100%;
        margin-top: 56px;
        display: flex;
        gap: 1px;
        justify-content: space-between;
        align-items: center;
    }

    &__housecard {
        &:nth-child(n){
            background: url('./../img/trand-block/house-1.png') no-repeat center bottom;
            background-color: #090909;
        }

        &:nth-child(2n){
            background: url('./../img/trand-block/house-2.png') no-repeat center bottom;
            background-color: #5437FF;
        }

        &:nth-child(3n){
            background: url('./../img/trand-block/house-3.png') no-repeat center bottom;
            background-color: #FF6700;
        }
        &:nth-child(4n){
            background: url('./../img/trand-block/house-4.png') no-repeat center bottom;
            background-color: #883FFF;
        }
    }

    &__buttons {
        margin-top: 32px;
        display: flex;
        justify-content: end;
        gap: 12px;
    }

    &__nextbtn {
        position: relative;
        top: 17%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
.rating {

    &__container {
    }

    &__title {
    }

    &__cards {
        margin-top: 88px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        @media (max-width: 479.98px) {
            // margin-top: 20px;
            gap: 5px;
        }
    }

    &__card {
        @media (max-width: 479.98px) {
            &:nth-child(n+2){
                display: none;
            }
        }
        
    }

    &__nextbtn {
        position: relative;
        top: 22%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        @media (max-width: 992.98px) {
            top: 17%;
        }
    }
}
.card-rating {
    width: 167px;
    height: 257px;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:nth-child(n) {
        & .card-rating__logo {
            background-color: #E0E0E0;
        }
    }
    &:nth-child(2n) {
        & .card-rating__logo {
            background-color: #EFB178;
        }
    }
    &:nth-child(3n) {
        & .card-rating__logo {
            background-color: #C50002;
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;
    }

    &__stars {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 4px;
    }

    &__star {
    }

    &__number {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        font-size: 12px;
        line-height: 125%;
        color: #090909;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        gap: 8px;
    }

    &__logo {
        width: 80px;
        height: 80px;
        border: 2.76786px solid #FFFFFF;
        border-radius: 193.75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
    }

    &__name {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        font-size: 14px;
        line-height: 130%;
        color: #090909;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }
}
.genius {

    &__container {
    }

    &__card {
        width: 552px;
        height: 312px;
        border-radius: 28px;
        background: url('./../img/genius-block/genius.png') no-repeat right top;
        background-color: #000000;
        padding: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 479.98px) {
            background-size: 75%;
            width: 299px;
            height: 168px;
        }
    }

    &__card-title {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        // font-size: 24px;
        @include adaptiv-font(24, 14);
        line-height: 28px;
        letter-spacing: -0.5px;
        color: #FFFFFF;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
        @media (max-width: 479.98px) {
            line-height: 20px;
        }
    }

    &__description {
        width: 277px;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        // font-size: 32px;
        @include adaptiv-font(32, 16);
        line-height: 36px;
        letter-spacing: -0.5px;
        color: #FFFFFF;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
        @media (max-width: 479.98px) {
            line-height: 20px;
        }
    }

    &__title {
        margin-top: 56px;
        @media (max-width: 479.98px) {
            text-align: left;
        }
    }

    &__nextbtn {
        position: relative;
        top: 21%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        @media (max-width: 992.98px) {
            top: 15%;
        }
    }
}
.club {

    &__container {
    }

    &__badge {
        width: 109px;
        height: 32px;
        background: #883FFF;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    &__title {
        margin-top: 24px;
        @media (max-width: 479.98px) {
            text-align: left;
        }
    }

    &__card {
        margin-top: 84px;
        margin-left: auto;
        width: 552px;
        height: 288px;
        background: #5337FF;
        border-radius: 24px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 992.98px) {
            margin-left: 0;
        }
        @media (max-width: 479.98px) {
            margin-top: 45px;
            width: 299px;
            height: 200px;
            margin-left: 0;
        }
    }

    &__card-lines {
        display: flex;
        flex-direction: column;
        gap: 12px;
        @media (max-width: 479.98px) {
            gap: 5px;
        }
    }

    &__card-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 550;
        // font-size: 20px;
        @include adaptiv-font(20, 14);
        line-height: 28px;
        color: rgba(255, 255, 255, 0.8);
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
        @media (max-width: 479.98px) {
            line-height: 20px;
        }
    }

    &__number {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 550;
        // font-size: 20px;
        @include adaptiv-font(20, 14);
        line-height: 28px;
        color: #FFB6B6;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
        @media (max-width: 479.98px) {
            line-height: 20px;
        }
    }

    &__card-result {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__result-name {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        // font-size: 20px;
        @include adaptiv-font(20, 14);
        line-height: 28px;
        color: #FFFFFF;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
        @media (max-width: 479.98px) {
            line-height: 20px;
        }
    }

    &__result-number {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        // font-size: 20px;
        @include adaptiv-font(20, 14);
        line-height: 28px;
        color: #4FEA90;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
        @media (max-width: 479.98px) {
            line-height: 20px;
        }
        
    }

    &__nextbtn {
        position: relative;
        top: 17%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        @media (max-width: 992.98px) {
            top: 15%;
        }
    }
}
.build {

    &__container {
        @media (max-width: 992.98px) {
            margin-top: 100px;
        }
        @media (max-width: 479.98px) {
            margin-top: 60px;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 992.98px) {
            flex-direction: column-reverse;
        }
        @media (max-width: 479.98px) {
            gap: 60px;
        }
    }

    &__about {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 32px;
    }

    &__texts {
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 24px;
        @media (max-width: 992.98px) {
            // gap: 5px;
        }
    }

    &__title {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        // font-size: 32px;
        @include adaptiv-font(32, 16);
        line-height: 36px;
        letter-spacing: -0.5px;
        color: #090909;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
        @media (max-width: 479.98px) {
            line-height: 20px;
        }
    }

    &__description {
        width: 456px;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 750;
        // font-size: 32px;
        @include adaptiv-font(32, 16);
        line-height: 36px;
        letter-spacing: -0.5px;
        color: #6A6A6A;
        font-stretch: 151;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
        @media (max-width: 479.98px) {
            line-height: 20px;
            width: 326px;
        }
    }

    &__buttons {
        position: absolute;
        top: 62%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 12px;
        @media (max-width: 992.98px) {
            position: relative;
            top: -350px;
        }
        @media (max-width: 479.98px) {
            position: relative;
            top: 50px;
        }
    }

    &__nextbtn {
        margin-top: 150px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        @media (max-width: 992.98px) {
            margin-top: 10px;
        }
        @media (max-width: 479.98px) {
            margin-top: 150px;
        }
    }

    &__prev {
        @media (max-width: 992.98px) {
            position: absolute;
            left: 10%;
        }
        @media (max-width: 479.98px) {
            position: absolute;
            left: 10%;
        }
    }

    &__btnimg {
    }

    &__next {
        @media (max-width: 992.98px) {
            position: absolute;
            right: 10%;
        }
        @media (max-width: 479.98px) {
            position: absolute;
            right: 10%;
        }
    }

    &__images {
    }

    &__image {
        width: 312px;
        height: 631px;
        @media (max-width: 992.98px) {
            width: 220px;
            height: 444px;
        }
        @media (max-width: 479.98px) {
            width: 176px;
            height: 308px;
        }
    }

    &__img {
        @media (max-width: 992.98px) {
            min-width: 100%;
            max-width: 100%;
        }
        @media (max-width: 479.98px) {
            min-width: 100%;
            max-width: 100%;
        }
    }
}
.install {

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }

    &__title {
        width: 480px;
        text-align: center;
        @media (max-width: 479.98px) {
            width: 327px;
        }
    }

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__apple {
    }

    &__images {
    }
}


// FullPage.js
.fp-tooltip {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 750;
    font-size: 10px;
    line-height: 12px;
    font-stretch: 151;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
#fp-nav ul li .fp-tooltip {
    color: #5337FF;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #6A6A6A;
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    background: #5337FF;
}